In [5]:
import pandas as pd
from datetime import datetime

pobocky = ["bratislava","brno","kosice","nitra","ostrava"]
krajiny = ["sk","cz","sk","sk","cz"]

data = pd.DataFrame([])

for i, p in enumerate(pobocky):
    raw_data = pd.read_csv(f"data/{p}.csv")
    raw_data["krajina"] = krajiny[i]
    raw_data["mesto"] = pobocky[i]

    raw_data["cas_nakupu"] = pd.to_datetime(raw_data["cas_nakupu"])
    
    raw_data["mesiac"] = raw_data["cas_nakupu"].dt.month
    raw_data["kvartal"] = (raw_data["cas_nakupu"].dt.month - 1) // 3 + 1
    del raw_data["cas_nakupu"]
    del raw_data["Unnamed: 0"]
    
    data = pd.concat([data , raw_data])

In [8]:
data['cena'] = [cena / 25 if kraj == "cz" else cena for cena, kraj in zip(data['cena'], data['krajina'])]
data['produkt'] = ['Chlieb' 
                   if produkt == "Chleb" else 'Tricko' 
                   if produkt == "Triko" else 'Mlieko' 
                   if produkt == "Mleko" else produkt 
                   for produkt in data['produkt']]
data['kategoria'] = ['jedlo' 
                     if produkt in ["Chlieb", "Mlieko"] else 'oblecenie' 
                     if produkt in ["Tricko", "Sveter"] else 'elektronika' 
                     if produkt in ["Mobil", "Laptop", "Tablet"] else "none" 
                     for produkt in data['produkt']]

In [9]:
data

      produkt  cena krajina       mesto  mesiac  kvartal  kategoria
0      Mlieko   3.0      sk  bratislava       1        1      jedlo
1      Tricko  10.0      sk  bratislava       1        1  oblecenie
2      Sveter  25.0      sk  bratislava       1        1  oblecenie
3      Chlieb   2.0      sk  bratislava       1        1      jedlo
4      Mlieko   3.0      sk  bratislava       1        1      jedlo
...       ...   ...     ...         ...     ...      ...        ...
14995  Chlieb   1.6      cz     ostrava       1        1      jedlo
14996  Mlieko   2.2      cz     ostrava       1        1      jedlo
14997  Chlieb   1.6      cz     ostrava       1        1      jedlo
14998  Chlieb   1.6      cz     ostrava       1        1      jedlo
14999  Chlieb   1.6      cz     ostrava       1        1      jedlo

[75000 rows x 7 columns]