In [12]:
pobocky <- c("bratislava", "brno", "kosice", "nitra", "ostrava")
krajiny <- c("sk", "cz", "sk", "sk", "cz")

In [13]:
data <- data.frame()

for (i in 1:length(pobocky)) {
    raw_data <- read.csv(paste("data/", pobocky[i], ".csv", sep=""))
    
    raw_data$krajina = krajiny[i]
    raw_data$mesto = pobocky[i]

    raw_data$cas_nakupu = as.Date(raw_data$cas_nakupu, format="%Y-%m-%d") 
    
    raw_data$mesiac = as.numeric(format(raw_data$cas_nakupu, "%m"))
    raw_data$kvartal = (raw_data$mesiac - 1) %/% 3 + 1
    
    raw_data <- raw_data[, -c(1, 2)]
    
    data <- rbind(data, raw_data)
}
print(head(data))

  produkt cena krajina      mesto mesiac kvartal
1  Mlieko    3      sk bratislava      1       1
2  Tricko   10      sk bratislava      1       1
3  Sveter   25      sk bratislava      1       1
4  Chlieb    2      sk bratislava      1       1
5  Mlieko    3      sk bratislava      1       1
6  Chlieb    2      sk bratislava      1       1

In [15]:
data$cena <- ifelse(data$krajina == "cz", data$cena / 25, data$cena)

data$produkt <- ifelse(data$produkt == "Chleb", "Chlieb",
                       ifelse(data$produkt == "Triko", "Tricko",
                              ifelse(data$produkt == "Mleko", "Mlieko", data$produkt)))

data$kategoria <- ifelse(data$produkt %in% c("Chlieb", "Mlieko"), "jedlo",
                         ifelse(data$produkt %in% c("Sveter", "Tricko"), "oblecenie",
                                 ifelse(data$produkt %in% c("Mobil", "Laptop", "Tablet"), "elektronika", "none")))

print(head(data))

  produkt cena krajina      mesto mesiac kvartal kategoria
1  Mlieko    3      sk bratislava      1       1     jedlo
2  Tricko   10      sk bratislava      1       1 oblecenie
3  Sveter   25      sk bratislava      1       1 oblecenie
4  Chlieb    2      sk bratislava      1       1     jedlo
5  Mlieko    3      sk bratislava      1       1     jedlo
6  Chlieb    2      sk bratislava      1       1     jedlo